/*
Color palette based on:
https://coolors.co/palette/006d77-83c5be-edf6f9-ffddd2-e29578
*/

body {
  background-color: #edf6f9;
  font-family: 'Open Sans', sans-serif;
  color: #e29578;
  font-size: 18px;
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  color: #006d77;
  line-height: 1.6;
  font-weight: 500;
}

h1 {
  font-size: 28px ;
}

h2 {
  font-size: 23px ;
}

a {
  text-decoration: none;
}

a:hover {
  color: #edf6f9;
}

i {
  font-size: 40px;
  color: #83C5BE;
}

i:hover {
  color: #006d77;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.card {
  box-shadow: 0px 0px 15px #ffddd2;
  border-radius: 10px;
  margin: 40px auto;
}

.img-circle {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.card-white {
  background: white;
  padding: 30px;
  border: 1px solid #ffddd2;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.btn-green {
  background-color: #83c5be;
  color: white;
  padding: 15px 20px;
  border-radius: 3px;
}

.btn-green:hover {
  box-shadow: 0 0 6px 1px  #83c5be;
  background-color: #006d77;
}

#profile-pic {
  width: 200px;
  height: 200px;
}

#intro-text {
  margin: 40px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
